<!--
*  Pokemon delete view
*  Uses HTML and embedded JavaScript (EJS) 
*  to dyanmically create a webpage to delete a Pokemon.
*
* @author Lindsey Fares <s524219@nwmissouri.edu>
-->
  
<% if (pokemon.error) { %>
    <div class="alert alert-danger" role="alert"><%- pokemon.error %></div>
    <% } %>
    
    <div class="card-body">
    
      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Generation</th>
            <th scope="col">IsStarter</th>
            <th width=>Action</th>
          </tr>
        </thead>
        <tbody>
    
          <tr>
            <th scope="row"><%= pokemon.id %></th>
            <td><%= pokemon.name%></td>
            <td><%= pokemon.generation%></td>
            <td><%= pokemon.isStarter%></td>
            <td>
              <form action="/pokemon/delete/<%=pokemon.id%>" method="post">
                <input type="submit" class="btn btn-danger delete" value="Delete" onclick="return alert('Are You sure?')"/>
              </form>
            </td>
          </tr>
    
        </tbody>
      </table>
    