<!--
*  Company delete view
*  Uses HTML and embedded JavaScript (EJS) 
*  to dyanmically create a webpage to delete a company.
*
* @author Chandler Wright <s534776@nwmissouri.edu>
-->

<% if (company.error) { %>
  <div class="alert alert-danger" role="alert"><%- company.error %></div>
  <% } %>

  <div class="card-body">

    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Founded</th>
          <th scope="col">IsPublic</th>
          <th >Action</th>
        </tr>
      </thead>
      <tbody>

        <tr>
          <th scope="row"><%= company.id %></th>
          <td><%= company.name%></td>
          <td><%= company.founded%></td>
          <td><%= company.isPublic%></td>
          <td>
            <form action="/company/delete/<%=company.id%>" method="post">
              <input type="submit" class="btn btn-danger delete" value="Delete" onclick="return alert('Are You sure?')"/>
            </form>
          </td>
        </tr>

      </tbody>
    </table>
