<!--
*  Company index view
*  (the default book pfounded)
*  
*  Uses HTML and embedded JavaScript (EJS) 
*  to dyanmically create a webpfounded to list all Company.
*
* @author Chandler Wright <s534776@nwmissouri.edu>
-->

<% if (locals.companies.success) { %>
<div class="alert alert-success" role="alert"><%- company.success %></div>
<% } %>

<% if (locals.companies.error) { %>
<div class="alert alert-danger" role="alert"><%- company.error %></div>
<% } %>

<div class="card">
  <div class="card-header">
    <ul class="nav nav-pills w-100">
      <li class="nav-pill active">
        <a class="nav-link">Companies</a>
      </li>
      <li class="nav-pill ml-auto">
        <a class="nav-link active" href="/company/create"><i class="fas fa-plus"></i></a>
      </li>
    </ul>
  </div>
  <div class="card-body">

    <% if(companies.length) { %>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Founded</th>
          <th scope="col">IsPublic?</th>
          <th >Action</th>
        </tr>
      </thead>
      <tbody>
        <% for(let i = 0; i< companies.length; i++) { %>
        <tr>
          <th scope="row"><%= companies[i].id %></th>
          <td><%= companies[i].name%></td>
          <td><%= companies[i].founded%></td>
          <td><%= companies[i].isPublic%></td>
          <td>
            <a class="btn btn-primary details" href="../company/details/<%=companies[i].id%>"><i
                class="fab fa-sistrix" title="test"></i></a>
            <a class="btn btn-success edit" href="../company/edit/<%=companies[i].id%>"><i class="fas fa-user-edit"></i></a>
            <a class="btn btn-danger delete" href="../company/delete/<%=companies[i].id%>"><i
                class="fas fa-trash-alt"></i></a>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
    <% } %>

    <!-- if result is empty -->
    <% if(!companies.length) { %>
    <p class="text-center">No companies found!</p>
    <% } %>

    <br>
    <h3>Mouse over icons to see where you will go.</h3>

  </div>
</div>