<!--
*  book delete view
*  Uses HTML and embedded JavaScript (EJS) 
*  to dyanmically create a webpage to delete a book.
*
* @author shivani tangellapally <s540965@nwmissouri.edu>
-->

<% if (book.error) { %>
    <div class="alert alert-danger" role="alert"><%- book.error %></div>
    <% } %>
    
    <div class="card-body">
    
      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">book</th>
            <th scope="col">publishedDate</th>
            <th scope="col">isFantasy</th>
            <th width=>Action</th>
          </tr>
        </thead>
        <tbody>
    
          <tr>
            <th scope="row"><%= book.id %></th>
            <td><%= book.book%></td>
            <td><%= book.publishedDate%></td>
            <td><%= book.isFantasy%></td>
            <td>
              <form action="/book/delete/<%=book.id%>" method="post">
                <input type="submit" class="btn btn-danger delete" value="Delete" onclick="return alert('Are You sure?')"/>
              </form>
            </td>
          </tr>
    
        </tbody>
      </table>