<!--
*  dance delete view
*  Uses HTML and embedded JavaScript (EJS) 
*  to dyanmically create a webpage to delete a dance.
*
*  @author Sai Prashansa Ambarkar <s541063@nwmissouri.edu>
-->
  
<% if (dance.error) { %>
    <div class="alert alert-danger" role="alert"><%- dance.error %></div>
    <% } %>
    
    <div class="card-body">
    
      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">IsCartoon</th>
            <th width=>Action</th>
          </tr>
        </thead>
        <tbody>
    
          <tr>
            <th scope="row"><%= dance.id %></th>
            <td><%= dance.name%></td>
            <td><%= dance.age%></td>
            <td><%= dance.isCartoon%></td>
            <td>
              <form action="/dance/delete/<%=dance.id%>" method="post">
                <input type="submit" class="btn btn-danger delete" value="Delete" onclick="return alert('Are You sure?')"/>
              </form>
            </td>
          </tr>
    
        </tbody>
      </table>
    